* {
    box-sizing: border-box;
}

body {
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
    margin: 30px;
}

#container {
    display:flex;
    flex-wrap:wrap;
    width:500px;
    height:500px;
    border:10px solid black;
}

.tile {
    border: 1px solid black;
    flex: auto;
    justify-content: space-evenly;
}

.sizeButton , .reset {
    width: 500px;
    margin: 10px;
    padding:10px;
    border-radius: 25px;
    color:white;
    background-color: rgb(61, 61, 218);
}
