* {
    box-sizing: border-box;
}

body > div , body > button {
    margin-bottom: 50px;
}

#container {
    display:flex;
    flex-direction:column;
    min-width:960px;
    width:960px;
}

.row {
    display:flex;
    flex-direction:row;
}

.rowTile {
    border: 1px solid black;
    padding:5px;
}

.resetButton {
    background-color:rgb(55, 66, 224);
    color:white;
    border-radius: 25px;
}
